<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>
  <connectionStrings>
    <add name="remoteServer"  connectionString="server=192.168.1.235;user id=root;password=;database=test;characterset=utf8;ignoreprepare=False" providerName="mysql"/>
    <add name="somewhereelse"  connectionString="server=localhost;user id=root;password=;database=test;characterset=utf8;ignoreprepare=False" providerName="mysql"/>
  </connectionStrings>
</configuration>